$css--font-face: true;
$font-path: 'https://unpkg.com/carbon-components@8.0.0/src/globals/fonts/';

@import 'carbon-components/scss/globals/scss/styles';
@import 'utils/temp';

.container {
  padding: 2rem 5% 0;
}
