$font-path: '../assets/fonts';
$use-fonts: true;

@import 'bluemix-components/consumables/scss/styles';
@import 'utils/theme-switcher';
@import 'utils/overrides';
@import 'utils/temp';

body {
  transition: all $transition--base;
}

.container {
  padding: calc(2rem + 86px) 5% 0;
}
