.bx--theme-switcher {
  position: fixed;
  top: calc(86px + .5rem);
  right: 0;
  padding: 1rem;

  &__icon {
    cursor: pointer;
    transition: all $transition--base;
    width: 1.25rem;
    height: 1.25rem;
    padding-bottom: .25rem;
    fill: $color__navy-gray-7;
    border-bottom: 2px solid transparent;

    &:first-child {
      margin-right: .5rem;
    }

    &:hover {
      @include light-ui {
        fill: $color__blue-40;
      }
      fill: $color__blue-20;
    }
  }

  &__icon--active {
    fill: $color__blue-30;
    border-bottom: 2px solid $color__blue-30;

    &:hover {
      border-bottom: 2px solid $color__blue-20;
    }

    @include light-ui {
      fill: $color__blue-51;
      border-bottom: 2px solid $color__blue-51;

      &:hover {
        border-bottom: 2px solid $color__blue-40;
      }
    }
  }
}
