<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Carbon Boilerplate</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body class="bx--global-light-ui">
  {{> theme_switcher}}

  {{> header }}

  <div class="container">
    <!-- Replace "getting_started" with your code -->
    {{> getting_started}}
  </div>
  
  <script src="./js/index.js"></script>
  <script src="./js/bluemix-components.min.js"></script>
  <script src="./js/svgxuse.min.js"></script>
</body>
</html>