<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Carbon Boilerplate</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body class="bx--body">

  <div class="container">
    <!-- Replace "getting_started" with your code -->
    <div class="demo-content">
      <a class="bx--link" target="_blank" href="http://www.carbondesignsystem.com/">
        <h1 class="title">Carbon <br /><span>Design System</span></h1>
      </a>
      <p>A simple boilerplate for rapid UI prototyping with <a class="bx--link" target="_blank" href="http://www.carbondesignsystem.com/">Carbon</a>        components</p>

      <ul class='bx--list--unordered'>
        <li class='bx--list__item'>All JavaScript and Sass is included. No setup necessary.</li>
        <li class='bx--list__item'>Refer to the <a class="bx--link" href="http://www.carbondesignsystem.com/elements/buttons.html#style" target="_blank">style</a>          and <a class="bx--link" href="http://www.carbondesignsystem.com/elements/buttons.html#usage" target="_blank">usage</a>          tabs on the website regarding guidelines around specific components.</li>
        <li class='bx--list__item'>Check out the readme for installation instructions.</li>
      </ul>

      <a class="bx--btn bx--btn--primary" target="_blank" href="https://github.ibm.com/twegan/carbon-boilerplate">Get Started</a>

      <p class="anchor"><span>Did you build something awesome with this?</span> <br /> Post a link to our slack channel! <a class="bx--link"
          target="_blank" href="https://ibm-cloudplatform.slack.com/archives/carbon-design-system">#carbon-design-system</a></p>
    </div>
  </div>

  <script src="./js/index.js"></script>
  <script src="./js/carbon-components.min.js"></script>
</body>

</html>
